spring:
  application:
    name: securitymak

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

  jpa:
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

securecase:
  storage:
    path: uploads
