server:
  port: ${PORT:8080}
  error:
    include-message: never
    include-stacktrace: never

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    org.springframework.security: WARN
    org.hibernate.SQL: OFF
    org.springframework.web: WARN
    org.hibernate: ERROR

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000
